<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../share/head'); %>
</head>
<body>
    <div>
        <%- include('../share/navbar'); %>
    </div>
    <div class="container">
        <div class="personalResult">
        </div>
    </div>
</body>
</html>