<div class="topnav" id="myTopnav">
  <a href="/forum" class="active" id="forum">討論區</a>
  <a href="/member/<%= member %>" id="member">會員中心</a>
  <a href="https://github.com/Ming-HC/Side_Project_Demo" id="github">MyGitHub</a>
  <a href="/member/<%= member %>" id="membericon" class="split"><img src="/image/member/demo.png"></a>
  <a href="javascript:void(0);" class="icon" onclick="navbar()">
    <i class="fa fa-bars"></i>
  </a>
</div>